<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
    <test name = "Test">
        <!--<classes>-->
            <!--<class name="olx.BaseClass"/>-->
        <!--</classes>-->
        <groups>

            <define name="all">
                <include name="success"/>
                <include name="resetPassword"/>
            </define>


            <run>
                <include name="all"/>
            </run>
        </groups>
        <classes>
            <class name="olx.BaseClass"/>
        </classes>
    </test>
</suite>