<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test strony OLX">
    <!--<listeners>-->
        <!--<listener class-name ="olx.Reporter"/>-->
    <!--</listeners>-->
    <!--<test name = "Test">-->
        <!--<classes>-->
            <!--<class name="olx.BaseClass"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="Test2">
        <groups>
            <run>
                <include name="login"></include>
            </run>
        </groups>
        <classes>
            <class name="olx.BaseClass"></class>
        </classes>
    </test>


</suite>